.headerContainer {
    text-align: center;
    padding: 20px;
    background-color: #f3f4f6;
    border-bottom: 1px solid #e1e4e8;
}

.title {
    margin: 0;
    color: #333;
}

.date {
    font-size: 24px;
    color: #555;
}
